@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;

@import "../../icons/style";

body {
  background-color: darkslategrey;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;

  .card {
    height: 175px;
    width: 125px;
    text-align: center;
    line-height: 175px;
    font-size: 75px;
    margin: 10px;
    transition: opacity 0.5s;

    perspective: 1000px;

    .flipper {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
    }

    &.flipped {
      .flipper {
        transform: rotateY(180deg);
      }
    }

    .front,
    .back {
      border-radius: 20px;
      background-color: darkcyan;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .front {
      background-color: cyan;
      transform: rotateY(180deg);
    }
  }
}

.nextLvl {
  margin-top: 50px;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  background-color: cyan;
  border-radius: 5px;
  margin: 0 auto;
}
